$main-font: Roboto, Helvetica, Arial, sans-serif;

// SIZES
$font-size: 16px;

// COLORS
$text-color: white;
$lazer-gray: #474747;
$button-text-color: #9B9B9B;
$white: rgb(255, 255, 255);
$black: rgb(42, 42, 42);
$red: rgb(255, 70, 70);
$green: rgb(64, 215, 139);
$blue: rgb(0, 191, 222);
$yellow: rgb(251, 236, 0);
$dark-red: #8A0808;

// SHADOWS AND OVERLAYS
$background-gradient-start: #29292C;
$background-gradient-end: #080708;


// Other
